<h2>商品情報編集</h2>
<%= form_with model: @item, url: '/admin/items/item.id', method: :patch do |f| %>
    <label for="inputName">商品名</label>
        <%= f.text_field :name, autofocus: true, id:"商品名" %><br>
    
    <label for="inputImage">商品画像</label><br>
        <%= f.file_field :item_image, accept: "item_image/*" %><br>
    
    <label for="inputIntroduction">商品説明</label><br>
        <%= f.text_area :introduction, id:"inputIntroduction" %><br>
    
    <label for="inputItem_price">価格（税抜）</label><br>
        <%= f.text_field :item_price, autofocus: true, id: "inputItem_price" %><br>
    
    <label for="inputGenre">ジャンル名</label>
        <%= f.select :genre_id, @genres.map { 
            |g| [g.name, g.id]},class: "form-control" %><br>
    <%= f.submit "変更を保存" %>
<% end %>