<div>
   <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
    <p>会員ID</p>
        <%= @customer.id %>
    <p>氏名</p>
        <%= @customer.last_name %> <%= @customer.first_name %><br>
    <p>フリガナ</p>
        <%= @customer.last_name_kana %> <%= @customer.first_name_kana %><br>
    <p>郵便番号</p>
        <%= @customer.postal_code %><br>
    <p>住所</p>
        <%= @customer.postal_code %><br><%= @customer.address %><br>
    <p>電話番号</p>
        <%= @customer.telephone_number %>
    <p>会員ステータス</p>
        <% if @customer.is_deleted == false %>
            <%= "有効" %>
        <% else %>
            <%= "無効" %>
        <% end %>
</div>
<%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-secondary" %>