<h3>注文履歴詳細</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>購入者</th>
                <th>注文日</th>
                <th>配送先</th>
                <th>支払方法</th>
            </tr>
        </thead>
        <tbody>
        <% @order_detail.each do |order_detail| %>
            <tr>
                <td>
                    <%= order_detail.order.customer.first_name %>
                    <%= order_detail.order.customer.last_name %>
                </td>
                <td>
                    <%= order_detail.created_at.strftime('%Y/%m/%d') %>
                </td>
                <td>
                    <%= order_detail.order.delivery_address %> 
                </td>
                <td>
                    <%= order_detail.order.payment_method_i18n %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    
    <table>
        <thead>
            <tr>
                <th>商品合計</th>
                <th>送料</th>
                <th>請求金額合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= @order.price.to_i - @order.cost_price.to_i %>
                </td>
                <td>
                    <%= @order.cost_price %>円
                </td>
                <td>
                    <%= @order.price %>円
                </td>
            </tr>
        </tbody>
    </table>
</div>