<h2>ジャンル名一覧・追加</h2><br>
<h3>ジャンル名</h3>
<% @genres.each do |genre| %>
    <p><%= genre.name %><%= link_to "編集", edit_admin_genre_path(genre.id) %></p> 
<% end %>

<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
    <h3>ジャンル名を追加する</h3>
    <%= f.text_field :name %>
    
    <%= f.submit '追加' %><br>
    <%= link_to "戻る", admin_items_path %>
<% end %>