<div>
    <h1>マイページ</h1>
<p><strong>登録情報</strong><%= link_to "編集する", customers_infomation_edit_path %></p>
    <h4>氏名</h4><%= current_customer.last_name %> <%= current_customer.first_name %><br>
                 <%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %><br>
    <h4>住所</h4><%= current_customer.postal_code %><br><%= current_customer.address %><br>
    <h4>電話番号</h4><%= current_customer.telephone_number %>
</div>

<h3>配送先</h3><%= link_to "お届け先一覧", addresses_index_path %>