
  <%= render "public/shared/error_messages", resource: resource %>

<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path  do |f| %>

  <div class="field">
    <%= f.label :email %>アドレス<br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"苗字" %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :"名前" %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :"苗字(カナ)" %><br>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :"名前(カナ)" %><br>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号（ハイフンなし）" %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :"電話番号(ハイフンなし)" %><br>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :"新規パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h4>既に登録済みの方</h4>
<%= link_to  new_customer_session_path do %>
  <p>こちら
<% end %>
  からログインしてください。</P>