<%= render "public/shared/error_messages", resource: resource %>

<h2>新規会員登録</h2>
  <div class="container">
    <div class="row">
      <table class="table table-striped">
      <div ckass="col-md-4">
        <thead>
          <tr>
            <th>名前</th>
            <th>フリガナ</th>
            <th>メールアドレス</th>
            <th>郵便番号（ハイフンなし）</th>
            <th>住所</th>
            <th>電話番号（ハイフンなし）</th>
            <th>パスワード（６文字以上）</th>
            <th>パスワード（確認用）</th>
          </tr>
        </thead>
      </div>
  </div>
  </div>
    <div class="col-8">
      <tbody>
      <tr>
        <%= form_with model: @customer, url: customer_registration_path  do |f| %>
      <div class="row">
        <div class="col-4">
          <td>
            <p>(姓)</p><%= f.text_field :last_name %>
          </td>
        </div>
        <div class="col-4">
          <td>
            <p>(名)</p><%= f.text_field :first_name %>
          </td>
        </div>
      </div>
      
      <div class="row">
        <div class="col-4">
          <td>
            <p>(セイ)</p><%= f.text_field :last_name_kana %>
          </td>
        </div>
        <div class="col-4">
          <td>
            <p>(メイ)</p><%= f.text_field :first_name_kana %>
          </td>
        </div>
      </div>
      
      <div class="row" >
        <div class="col-12">
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <td><%= f.text_field :postal_code %></td>
          <td><%= f.text_field :address %></td>
          <td><%= f.text_field :telephone_number %></td>
          <td><% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
        </div>
      </div>
          <div class="actions">
            <%= f.submit "新規登録" %>
          </div>
        <% end %>
        </tbody>
    </div>
    </table>

<h4>既に登録済みの方</h4>
<%= link_to  new_customer_session_path do %>
  <p>こちら
<% end %>
  からログインしてください。</P>