<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
      <p>ようこそ<strong><%= current_customer.first_name %></strong>さん！</p>
        <div><%= link_to "マイページ", customers_my_page_path %></div>
        <div><%= link_to "カートを見る", cart_items_path %></div>
        <div><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></div>
      <% elsif admin_signed_in? %>
        <div><%= link_to "商品一覧", admin_items_path %></div>
        <div><%= link_to "会員一覧", admin_customers_path %></div>
        <div><%= link_to "注文履歴一覧", admin_path %></div>
        <div><%= link_to "ジャンル一覧", admin_genres_path %>
        <div><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></div>
      <% else %>
        <div><%= link_to "Aboute", about_path %></div>
        <div><%= link_to "商品一覧", items_path %></div>
        <div><%= link_to "新規登録", new_customer_registration_path %></div>
        <div><%= link_to "ログイン", new_customer_session_path %></div>
      <% end %>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
